.picker {
  width: 30rem;
  max-width: 80%;
  height: 20rem;
  max-height: 30vh;
  border: 1px solid var(--ion-color-primary);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input[type="file"] {
  /*
    This file picker should not be clickable directly.
    Instead we want to click it for the user when the user clicks 'Take Picture'
    when the app runs on a device where we can't access the camera.
  */
  display: none;
}
